/*
  	Flaticon icon font: Flaticon
  	Creation date: 26/10/2018 11:39
  	*/

@font-face {
  font-family: 'Flaticon';
  src: url('./Flaticon.ttf') format('truetype'),
    url('./Flaticon-2.ttf') format('truetype'),
    url('./Flaticon.svg#Flaticon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Flaticon';
    src: url('./Flaticon.svg#Flaticon') format('svg');
  }
}

[class^='flaticon-']:before,
[class*=' flaticon-']:before,
[class^='flaticon-']:after,
[class*=' flaticon-']:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}

.flaticon-dashboard:before {
  content: '\f100';
}
.flaticon-about:before {
  content: '\f101';
}
.flaticon-post:before {
  content: '\f102';
}
.flaticon-social-media:before {
  content: '\f103';
}
.flaticon-logout:before {
  content: '\f104';
}
