.picky__input {
  width: 100%;
  background-color: white;
  border: 0;
  border-width: 1px;
  border-color: #ccc;
  border-style: solid;
  border-radius: 2px;
  padding: 10px;
  text-align: left;
  position: relative;
  box-sizing: border-box;
  height: 48px;
}

.picky__input::after {
  top: 20px;
}
.picky__dropdown {
  top: 48px;
}

.quill.is-invalid ~ .invalid-feedback {
  display: block;
}

.quill.is-invalid .ql-container.ql-snow {
  border-color: #dc3545;
}

.ql-container {
  background-color: #fff;
}

.ql-editor p {
  font-size: 18px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*TitilliumWeb Font*/

@font-face {
  font-family: TitilliumWeb;
  src: url('../fonts/TitilliumWeb-Light.ttf');
  font-weight: lighter;
}

@font-face {
  font-family: TitilliumWeb;
  src: url('../fonts/TitilliumWeb-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: TitilliumWeb;
  src: url('../fonts/TitilliumWeb-Bold.ttf');
  font-weight: bolder;
}

@font-face {
  font-family: TitilliumWeb;
  src: url('../fonts/TitilliumWeb-Black.ttf');
  font-weight: bold;
}

body,
.App {
  background-color: #fafafa;
  font-family: 'Catamaran', Arial, Helvetica, sans-serif;
  color: #68747f;
  font-size: 0.9rem;
}

.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-page h1,
.login-page form {
  width: 100%;
}

.main-content {
  transition: ease-in-out 0.2s;
}

.main-content > .container {
  padding-bottom: 80px;
}

img {
  max-width: 100%;
  font-size: 10px;
  font-weight: 300;
}

a:hover {
  text-decoration: none;
}

a,
a:not([href]):not([tabindex]) {
  color: #638cb9;
}

a > i,
button > i {
  margin-right: 10px;
  width: 30px;
}

.create-post.btn {
  right: 25px;
  position: fixed;
  bottom: 25px;
  z-index: 1;
  /* box-shadow: 0 6px 8px rgba(0, 0, 0, 0.03), 0 1px 2px rgba(0, 0, 0, 0.1),
    0 8px 12px rgba(0, 0, 0, 0.03); */
  box-shadow: 0px 0px 10px 7px rgba(107, 166, 255, 0.6);
}

.btn-primary:hover {
  transform: scale(1.02);
  transition: all 0.2s;
}

.btn-primary {
  transition: all 0.2s;
}

.btn > i {
  margin-right: 12px;
  width: 20px;
}

.btn {
  padding: 8px 17px;
}

.single-post-list [class*='btn-outline-'] {
  padding: 0.375rem 0.75rem;
}

.form-control {
  padding: 1.5rem 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid;
  border-radius: 0;
}

.form-control:focus {
  background-color: #fff;
  border-color: #80bdff;
  outline: none;
  box-shadow: none;
}

.input-group-prepend {
  margin-right: 0px;
}

.input-group-text {
  border: 1px solid;
  border-bottom: 2px solid;
  border-radius: 0px;
}

select.form-control {
  border: 1px solid #ced4da;
  border-radius: 0;
  cursor: pointer;
  -webkit-appearance: none;
  padding: 0px 10px;
  height: 40px;
  position: relative;
}

.select-custom {
  position: relative;
}

.select-custom i {
  position: absolute;
  right: 15px;
  transform: translateY(-50%);
  top: 48%;
}

.dropzone > div,
.dropzone input {
  width: 100% !important;
}

.dropzone > div {
  height: 120px !important;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-style: dotted !important;
  border-radius: 0 !important;
}

.dropzone i {
  font-size: 25px;
  margin-bottom: 5px;
}

.still-empty {
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.still-empty a {
  font-weight: 700;
}

nav a > i {
  color: #9299a2;
  text-align: center;
}

a.active > i,
a:hover > i {
  color: #fff;
}

a.active {
  background-color: #637484;
  border-left: 5px solid #3b9de0;
}

label {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  color: #3778ae;
}

.nav-custom-ul li a.active .text {
  color: #fff;
}

.nav-custom-ul li a:hover .text {
  color: #fff;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.nopadding {
  padding: 0;
}

.flex-parent {
  display: flex;
}

.flex-parent > div {
  width: 100%;
}

nav {
  overflow-x: scroll;
}

.row {
  margin: 0;
}

.success-message {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  /* background-color: rgba(255, 255, 255, 0.9); */
}

.success-message p {
  position: absolute;
  top: 15px;
  -webkit-transform: translate(-50%, -50%);
  transform: translateX(-50%);
  left: 50%;
  padding: 30px 50px;
  font-size: 25px;
  background-color: #96f29b;
  color: white;
}

.loading-spinner {
  position: fixed;
  height: calc(100%);
  top: 0;
  width: calc(100% / 1.2);
  right: 0;
  z-index: 4;
  background-color: #fafafa;
}

.loading-spinner img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 100px;
}

.logo-text {
  font-family: TitilliumWeb, 'Arial';
  font-weight: bold;
  color: #fff !important;
  /* background-color: #2c3e50; */
  padding: 15px 0;
  font-size: 40px;
}

.navbar-brand {
  margin: 0;
  padding: 30px;
}

.navbar-brand img {
  width: 100%;
}

nav.flex-parent {
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}

ul.flex-parent {
  flex-direction: column;
  justify-content: center;
}

.navbar-brand {
  margin: 0;
}

.nav-custom-ul {
  padding: 0;
  margin-top: 0px;
  margin-bottom: 30px;
}

.nav-custom-ul li {
  padding: 0;
  list-style-type: none;
}

.nav-custom-ul li a {
  width: 100%;
  display: block;
  padding: 15px 0px 15px 30px;
}

.navbar {
  position: fixed;
  background-color: #00253b !important;
  padding: 0;
  transform: translateX(0);
  transition: ease-in-out 0.2s;
}

.navbar.push-left-out-of-the-way {
  transform: translateX(-100%);
  transition: ease-in-out 0.2s;
}

.icon {
  color: #444;
  margin-right: 15px;
}

ul li a:hover {
  text-decoration: none;
}

.nav-custom-ul li a .icon {
  color: #fff;
}

.nav-custom-ul li a .text {
  color: #9299a2;
  font-weight: 500;
}

.nav-custom-ul li a.active .text {
  font-weight: 900;
}

.top-nav {
  background-color: #fff;
  padding: 0;
  margin-bottom: 30px;
  border-bottom: 0px solid #e6e6e6;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.015);
}

h5 {
  font-weight: 300;
}

div.hamburger-line {
  width: 30px;
  height: 3px;
  background-color: #697c92;
  margin: 3px 0;
}

div.hamburger-line:nth-child(1) {
  width: 18px;
}

div.hamburger-line:nth-child(2) {
  width: 25px;
}

div.hamburger-line:nth-child(3) {
  width: 15px;
}

.show-hide-nav {
  cursor: pointer;
  width: 60px;
  padding: 15px;
  height: 100%;
  border-right: 1.3px solid #e2e2e2;
}

.show-hide-nav:hover {
  background-color: #637484;
}

.show-hide-nav:hover .hamburger-line {
  background-color: #fff;
}

/* .flex-child {
} */

.flex-parent.table-list.header {
  background-color: #6f8294;
  font-weight: bolder;
  color: #fff;
  padding: 10px 0;
}

.flex-parent.table-list {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.flex-parent.table-list > div {
  width: unset;
  padding: 18px;
}

.header > div > h6 {
  font-weight: 900;
  text-transform: uppercase;
  font-style: normal;
  font-size: 11px;
  letter-spacing: 2px;
}

.table-list {
  margin-bottom: 0px;
}

.table-list:nth-child(odd) {
  background-color: #f3f5f7;
}

.card-custom {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.03), 0 1px 2px rgba(0, 0, 0, 0.1),
    0 8px 12px rgba(0, 0, 0, 0.03);
}

.table-list p,
.table-list h1,
.table-list h2,
.table-list h3,
.table-list h4,
.table-list h5,
.table-list h6,
.table-list a,
.table-list .btn {
  margin: 0;
  font-size: 0.9rem;
}

.dropdown-toggle.btn,
.dropdown-menu a {
  font-size: 11px;
}

.dropdown-menu a {
  display: block;
  padding-left: 12px;
}

.page-item.active .page-link {
  pointer-events: none;
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0;
  width: 100%;
  border-top: 1px solid rgb(255, 255, 255, 0.05);
}

.flex-parent.single-post-list > .title,
.flex-parent.single-enquiry-list > .message,
.flex-parent.single-testimony-list > .testimony {
  width: 38%;
}

.flex-parent.single-enquiry-list > .message,
.flex-parent.single-enquiry-list > .message > p,
.flex-parent.single-testimony-list > .testimony,
.flex-parent.single-testimony-list > .testimony > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-parent.single-enquiry-list {
  cursor: pointer;
}

.flex-parent.single-post-list > .author,
.flex-parent.single-enquiry-list > .name,
.flex-parent.single-testimony-list > .name {
  width: 12%;
}

.flex-parent.single-post-list > .categories,
.flex-parent.single-enquiry-list > .email,
.flex-parent.single-testimony-list > .avatar {
  width: 23%;
}

.flex-parent.single-testimony-list > .avatar {
  text-align: center;
}

.flex-parent.single-testimony-list > .avatar > img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  object-position: center center;
  border-radius: 100%;
  margin: 0 auto;
  text-align: center;
}

.flex-parent.single-post-list > .date-created,
.flex-parent.single-enquiry-list > .date-created,
.flex-parent.single-testimony-list > .date-created {
  width: 15%;
  font-style: italic;
  font-size: 12px;
}

.flex-parent.single-post-list > .action-btn,
.flex-parent.single-enquiry-list > .action-btn {
  width: 12%;
}

.category {
  background-color: #6ebafa;
  border: 1px solid #59a2e6;
  color: white;
  padding: 4px 10px;
  border-radius: 2px;
}

.single-post-list p.category {
  margin: 2px;
  font-size: 12px;
}

.categories-page .category p {
  margin-bottom: 0;
}

.categories-page .category {
  transition: ease-in-out 0.2s;
}

.categories-page .category:hover {
  background-color: #ec4141;
  border-color: #d33636;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.avatar-preview {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  border-radius: 100%;
}

.avatar-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 100%;
}

.sub-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-nav li {
  list-style: none;
  margin-right: 5px;
}

.sub-nav li button {
  background-color: transparent;
  border-radius: 0;
  opacity: 0.5 !important;
  transition: all 0.2s;
}

.sub-nav li .btn:focus {
  box-shadow: 0 0 0 0;
}

.sub-nav li button:hover {
  opacity: 1 !important;
  transition: all 0.2s;
}

.sub-nav li button.active {
  border-bottom: 1px solid;
  opacity: 1 !important;
}

.rbc-calendar {
  min-height: 600px;
}

.enquiry-modal {
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.enquiry-modal .enquiry-modal-content {
  position: relative;
  background-color: white;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.03), 0 1px 2px rgba(0, 0, 0, 0.1),
    0 8px 12px rgba(0, 0, 0, 0.03);
  padding: 40px;
  border-radius: 3px;
  width: 80%;
  height: 80%;
  overflow-y: scroll;
}

.enquiry-modal-content hr {
  border-top: 1px solid rgb(0, 0, 0, 0.05);
  margin: 2rem 0;
}

.close-button-modal {
  position: absolute;
  top: 40px;
  right: 40px;
}
